<%- include('header'); -%>

<div class="space"></div>
<div class="banner">
  <h2>Compte</h2>
</div>

<nav class="ariane">
  <a href="/">Accueil</a>
  <span>&gt;</span>
  <a class="gras" href="/compte">Compte</a>
</nav>

<div class="middleOfPage">
  <div class="wrapper2">
    <div class="profile-top">
      <div class="profile-image"></div>
    </div>

    <div class="profile-bottom">
      <div class="profile-infos">
        <div class="main-infos">
          <h3 class="name"><%= userInfos.prenom %> <%= userInfos.nom %></h3>
          <% const an=userInfos.ddn.getFullYear() %> <% const nbyears=2024- an
          %>
          <p class="age grey"><%= nbyears %> ans</p>
        </div>
        <p class="email"><%= userInfos.email %></p>
        <p class="ville">
          <ion-icon name="accessibility-outline"></ion-icon>LocFit <%=
          userInfos.type_utilisateur %>
        </p>
      </div>

      <div class="profile-stats">
        <div class="stat-item">
          <p class="stat">
            Né(e) le <%= userInfos.ddn.getUTCDate() %> <% let
            month=userInfos.ddn.getMonth(); monthOfYears=["Janvier", "Février" ,
            "Mars" , "Avril" , "Mai" , "Juin" , "Juillet" , "Août" , "Septembre"
            , "Octobre" , "Novembre" , "Décembre" ]; %> <%= monthOfYears[month]
            %> <%= userInfos.ddn.getFullYear() %>
          </p>
        
        </div>
      </div>
      <div class="deuxbtncompte">
        <% if(role === "client") { %>
        <div class="btnsupprimerlecompte">
          <form action="/delete-account" method="post">
            <button type="submit" class="delete-btn">
              Supprimer
            </button>
          </form>
        </div>
        <% } %>

        <div class="Accederaupanier">
          <form action="/panier" method="get">
            <button type="submit" class="panier-btn">Accéder au panier</button>
          </form>
        </div>
        <% if(role === "client") { %>
        <div class="Accederaupanier ">
          <form action="/modif-account" method="get">
            <button type="submit" class="panier-btn jaune">Modifier</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
<div class="space"></div>
<script
  type="module"
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>

<%- include('footer'); -%>
