<%- include('header'); -%>

    <div class="space">

    </div>

    <div class="banner">
        <h2>Produit</h2>
    </div>
    <form action="/addPanier" method="post">
        <div class="product-container">
            <div class="image-section">
                <img src="/img/velo.png" alt="Vélo" class="product-image">
            </div>

            <div class="details-section">
                <h1>
                    <%= product.type %>
                        <%= product.modele %>
                </h1>
                <p class="description">
                    <%= product.description %>
                </p>
                <h2 class="price">
                    <%= product.prix_location %> €/j - <%= product.etat %>
                </h2>
                <div class="delivery-info">
                    <span>Retrait <strong>GRATUIT</strong></span> en magasin et point relais
                </div>
                <input type="hidden" name="id_product" value="<%= product.id %>">
                <% if(role === 'client') { %>

                <div class="quantity-reserve">    
                    <div class="date-range">
                        <label for="start">Louer du</label>
                        <input type="date" id="start" name="start" required>
                        <label for="end">au</label>
                        <input type="date" id="end" name="end" required>  
                    </div>
                </div>
                
                    <button type="submit" class="reserve-btn">Réserver</button>
                <% } %>
                
            </div>
        </div>
    </form>

    <div class="specs-container">
        <div class="specs-section">
            <ul>
                <li>- Dimensions : 142 x 57 x 142 cm</li>
                <li>- Poids maximal : 136 kg</li>
                <li>- Selle et guidon réglable</li>
                <li>- Connexion d'une tablette via Bluetooth</li>
                <li>- Nombre de niveaux d'entraînements : 11</li>
            </ul>
        </div>

        <div class="middle-illustration">
            <img src="/img/a_vous_de_jouer.png" alt="A vous de jouer">
        </div>

        <div class="fitness-image">
            <img src="/video/gif/velo.gif" alt="Fitness Program">
        </div>
    </div>



    <%- include('footer'); -%>